.navbar_container, .navbar_navlinks, .navbar_navlink,.nav_logoside,.navbar_booking_side{
    display: flex;
    align-items: center;
}


.navbar_container{

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    padding: 30px 250px;
    background: rgb(248, 244, 233);
    border-bottom: 1px solid rgb(170, 170, 170);

}

.nav_logoside .navbar_paw_icon{
    color: rgb(254, 196, 78);
    font-size: 20px;
    rotate: 30deg;
}

.nav_logoside{
    gap: 10px;
}

.nav_logoside h3{
    font-weight: 600;
    font-size: 25px;
}

.navbar_navlinks{
    gap: 25px;
}

.navbar_navlink{
    gap: 10px;
}


.navbar_navlink h4{
    font-size: 18px;
}

.navbar_navlink:hover{
    background: rgb(252, 230, 171);
    padding: 5px 8px;
    border-radius: 30px;
    
}

.onclicknavlink{
    background: rgb(252, 230, 171);
    padding: 5px 8px;
    border-radius: 30px;
}


.navbar_booking_side{
    gap: 5px;
}

.navbar_booking_side .navbar_paw_icon{
    rotate: 30deg;
    background: #fff;
    padding: 6px 6px;
    border-radius: 50%;
}

.navbar_booking_side button {
    background: none;
    outline: none;
    border: none;
    color: #fff;
}

.navbar_booking_side{
    background: black;
    padding: 8px 8px;
    border-radius: 90px;
    width: 180px;
}