.blog_continer{
   
        padding: 30px 50px;
        width: 85%;
        margin: auto;
        margin-bottom: 300px;
    
}

.blog_head{
    font-size: 20px;
    background:  rgb(248, 244, 233);
    border: 1px solid rgb(254, 196, 78);
    padding: 10px 10px;
    width: fit-content;
    border-radius: 40px;
    margin-bottom: 30px;
}

.blog_img_tag{
    border-radius: 30px;
    /* position: absolute; */
}

.blog_head_note{
    display: inline;
    font-size: 18px;
    background: white;
    color: black;
    padding: 10px 12px;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    top: -60px;
    left: 20px;
}

.blog_img{
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: auto;
}

.blog_date_note{
    position: relative;
    top: -30px;
    left: 10px;
}

.blog_item{
    display: flex;
    flex-direction: column;
}